.search-area {
    width: 370px;
    height: 40px;
    margin: 0 auto;
}

.search-area .search-input {
    width: 250px;
    height: 40px;
    float: left;
}

.search-area .search-input input[type='text'] {
    width: 250px;
    height: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    float: left;
    font-size: 15px;
    padding: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search-area .search-list {
    width: 75px;
    height: 40px;
    float: left;
}

.search-area .search-list select {
    display: inline-block;
    width: 75px;
    height: 40px;
    font-size: 17px;
    background-color: aquamarine;
}

.search-area .search-list option {
    display: inline-block;
    width: 45px;
    height: 40px;
    line-height: 40px;
}

.search-area .search-button {
    width: 45px;
    height: 40px;
    float: left;
}

.search-area .search-button input[type='submit'] {
    width: 45px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    background-color: lightcoral;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    width: 375px;
    margin: 5px auto;
}

.content ul .content-list {
    width: 360px;
    border-radius: 3px;
    margin: 10px auto;
    list-style: none;
}

.content ul .content-list>a{
    text-decoration: none;
    color: #c4c4c4;
}

.content ul .content-list .topic-list-content {
    width: 375px;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #CFCFCF;
}

.content ul .content-list .topic-list-content .topic-list-content-left {
    width: 60px;
    height: 60px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    float: left;
}

.content ul .content-list .topic-list-content .topic-list-content-left img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.content ul .content-list .topic-list-content .topic-list-content-right {
    width: 300px;
    height: 60px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    float: left;
}

.content ul .content-list .topic-list-content .topic-list-content-right .topic-list-content-right-title {
    height: 20px;
    line-height: 20px;
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    background-color: green;
    margin-left: 5px;
    text-align: center;
    margin-top: 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
}

.content ul .content-list .topic-list-content .topic-list-content-right .topic-list-content-right-comments {
    width: 290px;
    height: 20px;
    line-height: 10px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 3px;
    font-size: 10px;
}

.content ul .content-list .topic-list-footer {
    width: 375px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 13px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content ul {
    width: 375px;
    list-style: none;
}

.content ul .content-list {
    width: 375px;
    margin: 20px auto;
}

.content ul .content-list .forum-list-content {
    width: 375px;
}

.content ul .content-list .forum-list-content .forum-list-content-title {
    height: 40px;
    line-height: 40px;
    width: 375px;
    background-color: #fff;
    border: #CFCFCF 1px solid;
    border-radius: 7px;
    font-size: 15px;
}

.content ul .content-list .forum-list-content .forum-list-content-title .reply-avator {
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    margin-left: 10px;
    float: left;
}

.content ul .content-list .forum-list-content .forum-list-content-title .reply-avator img {
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 4px;
}

.content ul .content-list .forum-list-content .forum-list-content-title .reply-person {
    height: 40px;
    padding-right: 5PX;
    line-height: 40px;
    display: inline-block;
    float: left;
    text-align: center;
}

.content ul .content-list .forum-list-content .forum-list-content-title .reply-time {
    height: 40px;
    /*width: 50px;*/
    line-height: 40px;
    display: inline-block;
    margin-right: 10px;
    float: right;
}

.content ul .content-list .forum-list-content .forum-topic {
    height: 40px;
    line-height: 40px;
    width: 375px;
    background-color: #fff;
    border: #CFCFCF 1px solid;
    border-radius: 7px;
    font-size: 15px;
}

.content ul .content-list .forum-list-content .forum-topic .forum-topic-static {
    height: 40px;
    line-height: 40px;
    width: 70px;
    display: inline-block;
    margin-left: 10px;
    float: left;
    text-align: center;
}

.content ul .content-list .forum-list-content .forum-topic .forum-topic-dynamic {
    height: 30px;
    line-height: 30px;
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    background-color: green;
    margin-left: 5px;
    float: left;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    color: #fff;
}

.content ul .content-list .forum-list-content .forum-list-content-detail {
    width: 375px;
    background-color: #fff;
    border: #CFCFCF 1px solid;
    border-radius: 7px;
    font-size: 15px;
}

.content ul .content-list .forum-list-content .forum-list-content-detail .forum-list-content-theme {
    width: 350px;
    font-size: 15px;
    word-wrap: break-word;
    margin: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content ul .content-list .forum-list-content .forum-list-content-detail .forum-list-content-theme a {
    text-decoration: none;
    color: #ca0022;
}

.content ul .content-list .forum-list-content .forum-list-content-detail .forum-list-content-theme a:visited {
    color: #ca0022;
}

.content ul .content-list .forum-list-content .forum-list-content-detail .forum-list-content-content {
    width: 350px;
    font-size: 12px;
    word-wrap: break-word;
    margin: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content ul .content-list .forum-list-content .forum-list-content-detail .forum-list-content-pic{
    width: 250px;
    height: 300px;
    margin: 5px auto;
    border: 1px solid white;
    border-radius: 5px;
}

.content ul .content-list .forum-list-content .forum-list-content-detail .forum-list-content-pic img{
    width: 250px;
    height: 300px;
    border: 1px solid white;
    border-radius: 5px;
}

.content ul .content-list .forum-list-content .forum-list-content-footer {
    width: 375px;
    height: 40px;
    background-color: #fff;
    border: #CFCFCF 1px solid;
    border-radius: 7px;
    font-size: 15px;
}

.content ul .content-list .forum-list-content .forum-list-content-footer .reply-count {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    float: left;
    display: inline-block;
    margin-left: 10px;
}

.content ul .content-list .forum-list-content .forum-list-content-footer .follow-count {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    float: left;
    display: inline-block;
    margin-left: 10px;
}

.content ul .content-list .forum-list-content .forum-list-content-footer .browse-count {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    float: left;
    display: inline-block;
    margin-left: 10px;
}

.content ul .content-list .person-list-content {
    width: 375px;
    height: 60px;
    background-color: #fff;
}

.content ul .content-list .person-list-content .person-list-content-left{
    width: 60px;
    height: 60px;
    padding: 5px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content ul .content-list .person-list-content .person-list-content-left img{
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.content ul .content-list .person-list-content .person-list-content-right{
    width: 315px;
    height: 60px;
    float: left;
}

.content ul .content-list .person-list-content .person-list-content-right .person-list-content-right-title{
    width: 300px;
    height: 60px;
    line-height: 60px;
}

.content ul .content-list .person-list-footer {
    border-top: 1px solid #c4c4c4;
    width: 375px;
    height: 40px;
    background-color: #fff;
}

.content ul .content-list .person-list-footer div{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    float: left;
    margin-left: 10px;
}

.content ul .content-list .person-list-footer div span{
    margin-left: 5px;
}

.reload-bar {
    width: 365px;
    height: 25px;
    line-height: 25px;
    margin: 10px auto;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}