.header {
    width: 375px;
    margin: 0 auto;
}

.header .person-list-content {
    width: 375px;
    height: 60px;
    background-color: #fff;
}

.header .person-list-content .person-list-content-left {
    width: 60px;
    height: 60px;
    padding: 5px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header .person-list-content .person-list-content-left img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.header .person-list-content .person-list-content-right {
    width: 315px;
    height: 60px;
    float: left;
}

.header .person-list-content .person-list-content-right .person-list-content-right-title {
    width: 300px;
    height: 60px;
    line-height: 60px;
}

.header .person-list-footer {
    border-top: 1px solid #c4c4c4;
    width: 375px;
    height: 40px;
    background-color: #fff;
}

.header .person-list-footer div {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    float: left;
    margin-left: 10px;
}

.header .person-list-footer div span {
    margin-left: 5px;
}

.header .tab-button {
    width: 375px;
    height: 40px;
    border-top: 1px solid black;
}

.header .tab-button div {
    width: 25%;
    height: 40px;
    background-color: #fff;
    float: left;
}

.header .tab-button div a {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #c4c4c4;
}

.content .forum-join-area {
    width: 375px;
    margin: 5px auto;
}

.content .forum-join-area ul{
    list-style: none;
}

.content .forum-join-area ul .forum-join-area-list {
    width: 375px;
    margin: 10px auto;
}

.content .forum-join-area ul .forum-join-area-list .forum-join-area-block {
    width: 375px;
    padding: 5px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .forum-join-area ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-header {
    width: 365px;
    margin: 0 auto;
}

.content .forum-join-area ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-header a {
    display: inline-block;
    width: 365px;
    margin: 0 auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #cd3046;
    text-decoration: none;
}

.content .forum-join-area ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-content {
    border-top: 1px solid #c4c4c4;
    width: 365px;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #c4c4c4;
}

.content .forum-join-area ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-footer {
    border-top: 1px solid #c4c4c4;
    width: 365px;
    margin: 0 auto;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .forum-join-area ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-footer {
    width: 365px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .forum-join-area ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-footer .forum-join-area-block-footer-like{
    width: 100px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    float: left;
}

.content .forum-join-area ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-footer .forum-join-area-block-footer-time{
    width: 100px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    text-align: right;
    float: right;
}

.content .forum-area {
    width: 375px;
    margin: 5px auto;
}

.content .forum-area ul{
    list-style: none;
}

.content .forum-area ul .forum-area-list {
    width: 375px;
    margin: 10px auto;
}

.content .forum-area ul .forum-area-list .forum-area-block {
    width: 375px;
    padding: 5px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .forum-area ul .forum-area-list .forum-area-block .forum-area-block-header {
    width: 365px;
    margin: 0 auto;
}

.content .forum-area ul .forum-area-list .forum-area-block .forum-area-block-header a {
    display: inline-block;
    width: 365px;
    margin: 0 auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #cd3046;
    text-decoration: none;
}

.content .forum-area ul .forum-area-list .forum-area-block .forum-area-block-content {
    border-top: 1px solid #c4c4c4;
    width: 365px;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #c4c4c4;
}

.content .forum-area ul .forum-area-list .forum-area-block .forum-area-block-footer {
    border-top: 1px solid #c4c4c4;
    width: 365px;
    margin: 0 auto;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .forum-area ul .forum-area-list .forum-area-block .forum-area-block-footer {
    width: 365px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .forum-area ul .forum-area-list .forum-area-block .forum-area-block-footer .forum-area-block-footer-like{
    width: 100px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    float: left;
}

.content .forum-area ul .forum-area-list .forum-area-block .forum-area-block-footer .forum-area-block-footer-time{
    width: 100px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    text-align: right;
    float: right;
}

.content .follow-area {
    width: 375px;
    margin: 10px auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .follow-area .follow-area-area{
    width: 375px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .follow-area .follow-area-area .follow-area-header{
    width: 365px;
    margin: 0 auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .follow-area .follow-area-area .follow-area-content{
    width: 365px;
    margin: 5px auto;
    border-top: 1px solid #c4c4c4;
}

.content .follow-area .follow-area-area .follow-area-content ul{
    width: 365px;
    list-style: none;
}

.content .follow-area .follow-area-area .follow-area-content ul .follow-area-content-list{
    width: 60px;
    height: 60px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.content .follow-area .follow-area-area .follow-area-content ul .follow-area-content-list img{
    width: 50px;
    height: 50px;
}

.clear {
    clear: both;
}

.content .info-area {
    width: 375px;
    margin: 10px auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .info-area .info-area-area{
    width: 375px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .info-area .info-area-area .info-area-header{
    width: 365px;
    margin: 0 auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .info-area .info-area-area .info-area-content{
    width: 365px;
    margin: 5px auto;
    border-top: 1px solid #c4c4c4;
}

.content .info-area .info-area-area .info-area-content .info-area-location {
    width: 365px;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .info-area .info-area-area .info-area-content .info-area-job {
    width: 365px;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selected {
    border-bottom: 2px solid green;
}

.reload-bar {
    width: 365px;
    height: 25px;
    line-height: 25px;
    margin: 10px auto;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}