.selected {
    border-bottom: 2px solid green;
}

.header {
    height: 40px;
    width: 375px;
    margin: 0 auto;
    background-color: #fff;
}

.header div{
    width: 50%;
    height: 40px;
    float: left;
    text-align: center;
}

.header div a{
    display: inline-block;
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #c4c4c4;
}

.content {
    width: 375px;
    margin: 0 auto;
}

.content .forum-content ul {
    list-style: none;
}

.content .forum-content ul .forum-join-area-list {
    width: 375px;
    margin: 10px auto;
}

.content .forum-content ul .forum-join-area-list .forum-join-area-block {
    width: 375px;
    padding: 5px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .forum-content ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-header {
    width: 365px;
    margin: 0 auto;
}

.content .forum-content ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-header a {
    display: inline-block;
    width: 365px;
    margin: 0 auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #cd3046;
    text-decoration: none;
}

.content .forum-content ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-content {
    border-top: 1px solid #c4c4c4;
    width: 365px;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #c4c4c4;
}

.content .forum-content ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-footer {
    border-top: 1px solid #c4c4c4;
    width: 365px;
    margin: 0 auto;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .forum-content ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-footer {
    width: 365px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .forum-content ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-footer .forum-join-area-block-footer-like{
    width: 100px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    float: left;
}

.content .forum-content ul .forum-join-area-list .forum-join-area-block .forum-join-area-block-footer .forum-join-area-block-footer-time{
    width: 100px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    text-align: right;
    float: right;
}

.content .msg-content ul {
    list-style: none;
}

.content .msg-content ul .msg-content-list {
    width: 375px;
    margin: 10px auto;
}

.content .msg-content ul .msg-content-list .msg-content-list-area{
    width: 375px;
    margin: 0 auto;
    background-color: #fff;
}

.content .msg-content ul .msg-content-list .msg-content-list-area .msg-content-list-area-title{
    width: 375px;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px solid #c4c4c4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .msg-content ul .msg-content-list .msg-content-list-area .msg-content-list-area-title a{
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
}

.content .msg-content ul .msg-content-list .msg-content-list-area .msg-content-list-area-footer{
    margin: 0 auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .msg-content ul .msg-content-list .msg-content-list-area .msg-content-list-area-footer .msg-content-list-area-footer-left{
    width: 50px;
    height: 23px;
    line-height: 23px;
    float: left;
}

.content .msg-content ul .msg-content-list .msg-content-list-area .msg-content-list-area-footer .msg-content-list-area-footer-right{
    width: 100px;
    height: 23px;
    line-height: 23px;
    float: right;
}

.content .msg-content ul .msg-content-list .msg-content-list-area .msg-content-list-area-footer .clear{
    clear: both;
}

.reload-bar {
    width: 365px;
    height: 25px;
    line-height: 25px;
    margin: 10px auto;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}